.container{
  width: 100%;
  display: flex;
}

h4{
  color: darkslateblue;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #40006b;
  background: -moz-linear-gradient(left, #40006b 10%, rgba(64,0,107, 0) 42%);
  background: -webkit-linear-gradient(left, #40006b 10%, rgba(64,0,107, 0) 42%);
  background: -o-linear-gradient(left, #40006b 10%, rgba(64,0,107, 0) 42%);
  background: -ms-linear-gradient(left, #40006b 10%, rgba(64,0,107, 0) 42%);
  background: linear-gradient(to right, #40006b 10%, rgba(64,0,107, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #40006b;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #40006b;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.column {
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
}

.col2{
  background: linear-gradient(to right, darkslateblue, white);
  padding-left: 100px;
}

header{
  background: linear-gradient(to top, darkslateblue, white);
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}
