<header><h1>country info</h1></header>
<div class="container">
  <div *ngIf="isFetching" class="loader"></div>
  <div *ngIf="!isFetching">
    <div class="column">
      <div
        *ngFor="let cont of country"
        [routerLink]="[cont.alpha3Code]"
        (click)="goToStart()"
      >
        <h4>{{ cont.name }}</h4>
      </div>
    </div>
  </div>
  <div class="col2">
    <router-outlet></router-outlet>
  </div>
</div>
