<div class="container">
  <strong>Country:</strong>
  <p>{{ country.name }}</p>
  <strong>Capital:</strong>
  <p>{{ country.capital }}</p>
  <strong>Population:</strong>
  <p>{{ country.population }}</p>
  <strong>Region:</strong>
  <p>{{ country.region }}</p>
  <strong>Timezones:</strong>
  <p>+{{ country.timezones }}</p>
  <strong>Flag:</strong><br>
  <img [src]="addToFlag()" alt="flag" width="100px" >
</div>

